@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

input[type="email"], input[type="password"], input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

a{
  @apply text-blue-500
}
a:hover{ 
  @apply text-blue-600
}
a:active{
  @apply text-blue-700
}

button{
  @apply py-2 px-5 transition-all rounded
}

button.primary{
  @apply bg-blue-700 text-white
}
button.primary:hover{
  @apply bg-blue-500
}
button.primary:active{
  @apply bg-blue-700
}

button.danger{
  @apply bg-red-700 text-white
}
button.danger:hover{
  @apply bg-red-500
}
button.danger:active{
  @apply bg-red-700
}
